body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li a{
    color: black;
}
ul{
    list-style: none;
}
.header-nav{
    position: fixed;
    width: 1380px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: #fcfcfc;
}
.header-nav .header-nav__logo{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;

    position: absolute;
    width: 250px;
    height: 50px;
    left: 70px;
    top: calc(50% - 50px/2);
}
.header-nav .header-nav__logo .logo-text{
    /* Nigerian Lecturers */

    width: 189px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #1B7339;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.header-nav__logo:hover{
    transition: .1s ease-in-out;
    transform: translateY(-5px);
}
.header-nav__container .header-nav__menu{
    /* Frame 2 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 108px;

    position: absolute;
    width: 632px;
    height: 41px;
    left: 600px;
    top: calc(50% - 41px/2);
}
.header-nav__container .header-nav__menu ul{
    /* Frame 20 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 97px;

    width: 389px;
    height: 41px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
ul .homebutton li{
    /* Home */

    width: 42px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
ul .homebutton:hover{
    transition: .1s ease-in-out;
    transform: translateY(-5px);
}
ul .homebutton li:hover{
    color: #1B7339;
}
ul .schools li{
    /* Schools */

    width: 55px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
ul .schools:hover{
    transition: .1s ease-in-out;
    transform: translateY(-5px);
}
ul .schools li:hover{
    color: #1B7339;
}
ul .contactus{
    display: flex;
    flex-direction: row;
    /*justify-content: center; */
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
ul .contactus li{
    /* Contact Us */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
ul .contactus:hover{
    transition: .1s ease-in-out;
    transform: translateY(-5px);
}
ul .contactus li:hover{
    color: #1B7339;
}
ul .accreditation{
    /* Frame 23 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 135px;
    height: 20px;
    background: #60D487;
    box-shadow: inset 0px -4px 4px #40CE71;
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}
ul .accreditation li{
    /* Accreditation */
    width: 95px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #1B7339;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
ul .accreditation:hover{
    border-radius: 5px;
    transition: .1s ease-in-out;
    transform: translateY(-5px);
}
ul .accreditation li:hover{
    color: #D9D9D9;
}
.accreditation__container{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 41px;
    position: absolute;
    width: 1250px;
    height: 380px;
    left: 70px;
    top: 200px;
    background: linear-gradient(0deg, #1B7339 0%, #1B7339 100%), #FFF;
    box-shadow: 4px 4px 8px 0px rgba(27, 115, 57, 0.20);
}
.accreditation__container:hover{
    border-radius: 10px;
    transition: .2s ease-in-out;
    transform: translateY(5px);
}
.accreditation__container .accreditation__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 30px 30%;
    padding: 0px;
    gap: 11px;
    width: 550px;
    height: 200px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.accreditation__box h4{
    color: #D9D9D9;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.accreditation__box .join__btn{
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D9D9D9;
    border: none;
    text-align: center;
    width: auto;
    color: #1B7339;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.join__btn:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: translateY(-5px);
}
.footer{
    /* Frame 9 */

    position: absolute;
    width: 1343px;
    height: 307px;
    left: 0px;
    bottom: -430px;

    background: #1B7339;
}
.footer__button__text{
    /* Frame 23 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    position: absolute;
    width: auto;
    height: 20px;
    left: 1100px;
    top: calc(50% - 41px/2 + 2.5px);

    background: #D9D9D9;
    box-shadow: inset 0px -4px 4px #60D587;
    border-radius: 20px;
}
.footer__button__text a{
    /* Accreditation */

    width: 95px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #1B7339;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer__box__nav{
    /* Frame 20 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 78px;
    height: 123px;
    left: 681px;
    top: 92px;
}
.footer__box__nav .footer__box__home__link{
    /* Frame 21 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 62px;
    height: 20px;

    background: #1B7339;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer__box__home__link .footer__home{
    /* Home */

    width: 42px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer__box__nav .footer__schools{
    /* Schools */

    width: 55px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #D9D9D9;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer__box__nav .footer__contactus{
    /* Contact Us */

    width: 78px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #D9D9D9;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.footer__box__logo{
    /* Frame 19 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;

    position: absolute;
    width: 250px;
    height: 50px;
    left: 70px;
    top: calc(50% - 50px/2 - 7.5px);
}